<!doctype html>
<html>
<head>
    <title>Istanbus</title>
</head>
<body>

    <header>
        <h1>Istanbus</h1>
    </header>

    <section id="istanbusApp">
        <nav>
            <ul>
                <li><a href="/otobus/">Otobus</a></li>
                <li><a href="/durak/">Durak</a></li>
                <li><a href="/nasil-giderim/">Nasil giderim</a></li>
                <li><a href="/en-yakin-durak/">En yakin durak</a></li>
            </ul>
        </nav>

        <section id="tab-contents">
            <section>
                <input id="search" type="search" placeholder="Hat kodu veya adi" />
                <div id="searchResults"></div>
            </section>
        </section>
    </section>

    <footer>
        <p>Istanbus.org</p>
    </footer>

    <script type="text/template" id="bus-template">
        <h2><%=name%></h2>
        <p><%=notes%></p>
        <ul>
        <% for (i in timesheet.weekdays.go) { %>
            <li><%=timesheet.weekdays.go[i]%></li>
        <% } %>
        </ul>
    </script>

    <script src="js/lib/jquery-1.9.1.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/models/bus.js"></script>
    <script src="js/collections/buses.js"></script>
    <script src="js/collections/busSearch.js"></script>
    <script src="js/views/busView.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/routers/router.js"></script>

</body>
</html>